/* HTML: <div class="loader"></div> */
.main-loader {
    background-color: var(--main-background-color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(var(--main-color) 25%, var(--main-text-color) 0 50%, var(--main-color) 0 75%, var(--main-text-color) 0);
    animation: l22 4s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}

.loader::after {
    margin: 25%;
    animation-duration: 3s;
}

@keyframes l22 {
    100% {
        transform: rotate(1turn)
    }
}